
.form-label-group {
    padding: 25px 10px;
}

.forgotten {
    padding: 0;
    text-align: right;
}
p {
    padding-top: 10px;
    text-align: center;
}

//https://startbootstrap.com/snippets/login/