<div class="container">
    <div class="row">
        <div class="col-sm-12 center">
            <h1 class="title">Consultas</h1>
        </div>
        <div class="col-sm-12">
            <div class="contain">
                <div class="row">
                    <div *ngFor="let consult of consults; index as i" (click)="GoTo(consult.id)" class="col-sm-12">
                        <div class="text-post">
                            <h3>{{consult.Title}} </h3>
                            <span>{{consult.Date | date:'shortDate'}}</span>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>