<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-12  col-lg-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Cita</h4>
                        <p class="card-category">Agregar cita</p>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="AppointmentForm">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h4>Agregar usuario a la cita (correo)</h4>
                                    <mat-form-field  class="example-full-width">
                                        <input matInput *ngIf="!userInvited" [formControl]="Correo" placeholder="Buscar usuario por correo">
                                        <input matInput *ngIf="userInvited" [formControl]="Correo" placeholder="Buscar usuario por correo" [value]="userInvited.Email">
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-12 col-md-8">
                                    <mat-form-field>
                                        <input matInput formControlName="DateInit" type="datetime-local"
                                            placeholder="Fecha Inicial">
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-12 col-md-8">
                                    <mat-form-field>
                                        <input matInput formControlName="DateFinal" type="datetime-local"
                                            placeholder="Fecha Final">
                                    </mat-form-field>
                                </div>
                                <div *ngIf="itsOwner" class="col-sm-6 col-md-8">
                                    <mat-checkbox formControlName="Status" class="example-margin">¿Acepta el horario de Cita?</mat-checkbox>
                                </div>
                            </div>
                        </form>
                        <app-add-to-calendar *ngIf="Edicion"  startDate="{{appointment.DateInit | date:'shortDate'}}" [startTime]="appointment.DateFinal | date:'shortTime'" [endDate]="appointment.DateFinal | date:'shortDate'" endTime="{{appointment.DateInit | date:'shortTime'}}" [title]='"Cita de asistencia animal"' [details]='"cita de " + user.FullName' [location]='"Guatemala"'></app-add-to-calendar>
                    </div>
                </div>
            </div>
            <div *ngIf="adminUser" class="col-md-12">
                <div class="card card-profile">
                    <div class="card-body left">
                        <a (click)="Save()" class="btn btn-info left">Guardar cita</a>
                        <a (click)="Delete()" *ngIf="Edicion" class="btn btn-info">Eliminar cita</a>
                        <a (click)="Cancel()" class="btn btn-info float-right">Cancelar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>