<div class="background-c">
    <div class="cover center">
        <div class="container">
            <h1>Asistencia Animal</h1>
            <h2>Es una plataforma que ayuda a conectar a la población con mascotas que requieran de una asistencia inmediata, ademas de poder brindar mas servicios a las empresas y asociaciones a la gestión y comunicación con sus cliente</h2>
        </div>
    </div>
</div>
<div class="spot bck-col-2">
    <div class="container">
        <div class="con">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <div class="center-v">
                        <h2>Adopción de mascotas</h2>
                        <p>En esta plataforma podras realizar adopciones en linea, en tan pocos clicks, directo a la asociación encargada, con tan solo la espera de la respuesta de este pronto podras disfrutar de tu mascota</p>
                        <button type="button" mat-raised-button class="btn btn-info">Adopta</button>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <img class="image" src="/assets/img/dog-kid.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="spot bck-col-1">
    <div class="container">
        <div class="con center space-incontent">
            <div class="row">
                <div class="col-sm-12 center">
                    <h2>Servicios</h2>
                </div>
                <div class="col-sm-12 col-md-4">
                    <h4>Asistencia en línea</h4>
                    <span class="material-icons blue">
                        chat
                    </span>
                    <p>Podras realizar tus consultas directamente por medio del chat en linea con la empresa deceada</p>
                </div>
                <div class="col-sm-12 col-md-4">
                    <h4>Asistencia por video llamada</h4>
                    <span class="material-icons green">
                        videocam
                    </span>
                    <p>¿En caso de una emergencia el cual no puedas asistir al centro de salud? podras realizar video llamadas</p>
                </div>
                <div class="col-sm-12 col-md-4">
                    <h4>Historico de asistencia</h4>
                    <span class="material-icons blue">
                        history_edu
                    </span>
                    <p>Ademas de gestionar todas tus consultas y un historial medico de tus mascotas</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="spot bck-col-2">
    <div class="container">
        <div class="con">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <img class="image" src="/assets/img/pets.jpg" alt="">
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="center-v">
                        <h2>Alertas</h2>
                        <p>¿Se extravio tu mascota? publica una alerta de tu mascota, y todos estaran enterados para poder brindarte ayuda, O vez de alguna emergencia o quieres notificar un maltrato hacia los animales? aqui mismo podras anunciarlo</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="spot bck-col-1">
    <div class="container">
        <div class="con center space-incontent">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <img class="image-sec-2" src="/assets/img/consultas.jpg" alt="">
                    <h4>Consultas</h4>
                    <p>Revisa las consultas que realizan las demas personas o ayudalos con sus dudas y has crecer esta comunidad</p>
                    <button type="button" mat-raised-button class="btn btn-info">Consultas</button>
                </div>
                <div class="col-sm-12 col-md-6">
                    <img class="image-sec-2" src="/assets/img/articulos.jpg" alt="">
                    <h4>Articulos</h4>
                    <p>Revisa los articulos que las personas han publicado, puede existir alguno de tu interes</p>
                    <button type="button" mat-raised-button class="btn btn-info">Articulos</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="spot bck-col-2">
    <div class="container">
        <div class="con center">
            <div class="row">
                <div class="col-sm-12">
                    <div class="center-v">
                        <h2>¡Que esperas para registrarte!</h2>
                        <button type="button" mat-raised-button class="btn btn-info">REGISTRATE</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="spot bck-col-1">
    <div class="container">
        <div class="con center space-incontent">
            <div class="row">
                <div class="col-sm-12">
                    <!-- <mat-form-field class="example-full-width">
                        <input matInput formControlName="Name" placeholder="Nombre">
                    </mat-form-field> -->
                    <form>
                        <input class="form-control" matInput  id="inputEmail" placeholder="Nombre" required>
                        <input class="form-control" matInput  id="inputEmail" placeholder="Nombre" required>
                        <textarea  class="form-control" matInput placeholder="Descripción de empresa"
                                rows="5"></textarea>
                        
                        <button type="button" mat-raised-button class="btn btn-info">CONTACTANOS</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

