<div class="main-content">
    <div class="container-fluid">
        <div *ngIf="adminUser" class="row">
            <div class="col-sm-12 col-md-12 order-lg-12 col-lg-3">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Opciones</h4>
                    </div>
                    <div class="card-body">
                        <a *ngIf="adminUser" [routerLink]="['/admin', 'edicion-cita', 'D-s']" class="btn btn-warning btn-block">Agregar
                            nuevo</a>
                    </div>
                </div>
            </div>
            <div  class="col-sm-12 col-md-12  col-lg-9">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Citas de Empresa</h4>
                        <p class="card-category">Listado de citas</p>
                    </div>
                    <div class="card-body">
                        <div *ngIf="DataCompany">
                            <app-table-list *ngIf="DataCompany.length != 0" [Data]="DataCompany"></app-table-list>
                        </div>
                        <div *ngIf="DataCompany" class="col-sm-12 center">
                            <div *ngIf="DataCompany.length == 0" class="titleIfNotData">Aun no has recibido citas de los clientes</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12  col-lg-9">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Citas de Usuario</h4>
                        <p class="card-category">Listado de citas</p>
                    </div>
                    <div class="card-body">
                        <div *ngIf="DataUser">
                            <app-table-list *ngIf="DataUser.length != 0" [Data]="DataUser"></app-table-list>
                        </div>
                        <div *ngIf="DataUser" class="col-sm-12 center">
                            <div *ngIf="DataUser.length == 0" class="titleIfNotData">Aun no has hecho una cita, si necesitas realizar una, busca una empresa <a [routerLink]="['/page', 'istado-empresas']">haciendo click aqui</a> y consulta lo que necesites</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>