.field-conteniner {
    .field {
        display: inline-block;
        font-size: 16px;
        margin-right: 10px;
    }

    .Value {
        display: inline-block;
        font-size: 16px;
        color: #999;
    }
}

.left {
    text-align: left;
}

.float-right {
    float: right;
}

.btn.btn-info {
    color: white !important;
}

@media print {
    .buttons {
        display: none;
    }

    footer {
        display: none;
    }
  }