<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-12 order-lg-12 col-lg-3">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Opciones</h4>
                    </div>
                    <div class="card-body">
                        <a [routerLink]="['/admin', 'edicion-mascota']" class="btn btn-warning btn-block">Agregar
                            nueva mascota</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12  col-lg-9">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Masotas</h4>
                        <p class="card-category">Listado de mascotas</p>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div *ngFor="let pet of Data" class="col-sm-12 col-md-4">
                                <app-pet-card [pet]="pet"></app-pet-card>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>