.caut {
    background-color: #9dd0d8;
    padding: 5px;
    margin: 10px;
    border-radius: 15px;
}

.cmsg {
    background-color: #CAF186;
    padding: 5px;
    margin: 10px;
    border-radius: 15px;
}