.tarjeta {
}

.circular {
    border-radius: 50%;
}

.contenedor {
    // height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;  
    // img {
    //     height: 15vw;
    // }
}

.mat-card-title {
    color: black;
}

