.contain {
    margin: 40px 0;
}

.title {
    text-align: center;
    margin: 20px 0;
    font-weight: bold;
    color: #d6493E;
    letter-spacing: 10px;
}

// @media (max-width: 768px) {
//     .cart {
//         margin: 20px 0;
//     }
// }