<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-12  col-lg-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Mascota</h4>
                        <p class="card-category">Agregar mascota</p>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="PetForm">
                            <div class="row">
                                <div class="col-sm-12 col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput formControlName="Name" placeholder="Nombre">
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-12 col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput formControlName="Age" placeholder="Edad">
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-12 col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput formControlName="Race" placeholder="Raza">
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-12 col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput formControlName="Height" placeholder="Altura">
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-12 col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput formControlName="Weight" placeholder="Peso">
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-12 col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput formControlName="Color" placeholder="Color">
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-12 col-md-4">
                                    <mat-radio-group formControlName="Gender" aria-label="Select an option">
                                        <mat-radio-button value="Macho">Macho</mat-radio-button>
                                        <mat-radio-button value="Hembra">Hembra</mat-radio-button>
                                    </mat-radio-group>
                                </div>
                                <div class="col-sm-12 col-md-4">
                                    <mat-form-field *ngIf="TipoMascotas">
                                        <mat-label>Tipo de mascota</mat-label>
                                        <mat-select formControlName="AnimalType">
                                            <mat-option *ngFor="let item of TipoMascotas"
                                                [value]="item">
                                                {{ item }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-12 col-md-12">
                                    <mat-form-field class="example-full-width">
                                        <textarea matInput formControlName="MoreAbout" placeholder="Descripción u otros destalles"
                                            rows="5"></textarea>
                                    </mat-form-field>
                                </div>
                                <div *ngIf="InAdoptionEnable" class="col-sm-12 col-md-12">
                                    <div class="form-label-group">
                                        <mat-slide-toggle formControlName="InAdoption">¿Esta en adopción?</mat-slide-toggle>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <app-files-upload *ngIf="Images" [Files]="Images" (ImageEventReturn)="GetImages($event)"></app-files-upload>
            </div>
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div *ngIf="pet.MedicalHistory">
                            <h3>Expediente médico</h3>
                            <div *ngFor="let history of pet.MedicalHistory" class="row">
                                <div class="col-sm-12 col-md-4">
                                    <app-info-field Field="Fecha:" [Value]="history.Date | date:'shortDate'"></app-info-field>
                                </div>
                                <div class="col-sm-12 col-md-4">
                                    <app-info-field Field="Descripción del histórico:" [Value]="history.Comments"></app-info-field>
                                </div>
                                <hr>
                            </div>
                        </div>
                        <div *ngIf="!pet.MedicalHistory">
                            <p>Esta mascota aun no tiene expediente médico</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="card card-profile">
                    <div class="card-body left">
                        <a (click)="Save()" class="btn btn-info left">Guardar mascota</a>
                        <a (click)="Delete()" *ngIf="Edicion" class="btn btn-info">Eliminar mascota</a>
                        <a (click)="Cancel()" class="btn btn-info float-right">Cancelar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>