<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div *ngIf="adminUser" class="col-sm-12 col-md-12  col-lg-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Solicitudes de adopción de empresa</h4>
                        <p class="card-category">Listado de solicitudes de adopción recibidas</p>
                    </div>
                    <div class="card-body">
                        <div *ngIf="DataCompany">
                            <app-table-list *ngIf="DataCompany.length != 0" [Data]="DataCompany"></app-table-list>
                        </div>
                        <div *ngIf="DataCompany" class="col-sm-12 center">
                            <div *ngIf="DataCompany.length == 0" class="titleIfNotData">Aun no tienes solicitudes de adopción, espera a que un usuario realice una solicitud, o agrega una mascota en adopción <a [routerLink]="['/admin', 'edicion-mascota']">haciendo click en aqui</a> si aun no tienes</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12  col-lg-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Solicitudes de adopción del usuario</h4>
                        <p class="card-category">Listado de solicitudes de adopción realizadas</p>
                    </div>
                    <div class="card-body">
                        <div *ngIf="DataUser">
                            <app-table-list *ngIf="DataUser.length != 0" [Data]="DataUser"></app-table-list>
                        </div>
                        <div *ngIf="DataUser" class="col-sm-12 center">
                            <div *ngIf="DataUser.length == 0" class="titleIfNotData">Aun no has hecho una solicitud de adopción, <a [routerLink]="['/page', 'adopcion']">haz click aqui</a> para adoptar una mascota</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>