<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-12  col-lg-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Solicitudes de adopción</h4>
                        <p class="card-category">Listado de solicitudes de adopción recibidas</p>
                    </div>
                    <div class="card-body">
                        <div *ngIf="Data">
                            <app-table-list [Data]="Data"></app-table-list>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>