<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-12 order-lg-12 col-lg-3">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Opciones</h4>
                    </div>
                    <div class="card-body">
                        <a [routerLink]="['/admin', 'edicion-alerta']" class="btn btn-warning btn-block">Publicar alerta</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12  col-lg-9">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Alertas</h4>
                        <p class="card-category">Listado de alertas realizadas</p>
                    </div>
                    <div class="card-body">
                        <div *ngIf="Data">
                            <app-table-list *ngIf="Data.length != 0" [Data]="Data"></app-table-list>
                        </div>
                        <div *ngIf="Data" class="col-sm-12 center">
                            <div *ngIf="Data.length == 0" class="titleIfNotData">No tienes alertas agregadas, si tienes algun problema que reportar (mascota perdida, maltrato aniimal, animal en peligro, etc) <a [routerLink]="['/admin', 'edicion-alerta']">haz click en aqui</a> para agregar una consulta alerta</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>