.box {
    // position: absolute;
    z-index: 1;
    background: #FFFFFF;
    margin: 100px auto 100px;
    padding: 45px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 5px;
}