<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-12 order-lg-12 col-lg-3">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Opciones</h4>
                    </div>
                    <div class="card-body">
                        <div class="card card-profile">
                            <div class="card-body left">
                                <a (click)="generateLink()" class="btn btn-info left">Generar link para realizar video llamada</a>
                                <div *ngIf="urlGenerated">
                                    <p >{{urlGenerated}}</p>
                                    <a (click)="copyToClickBoard()" class="btn btn-info left">Copiar al porta papeles</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12  col-lg-9">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Consultas privadas</h4>
                        <p class="card-category">Listado de consultas privadas realizadas a empresas</p>
                    </div>
                    <div class="card-body">
                        <div *ngIf="CompanyConsults">
                            <app-table-list [Data]="CompanyConsults"></app-table-list>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12  col-lg-9">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Consultas privadas</h4>
                        <p class="card-category">Listado de consultas privadas realizadas a usuarios</p>
                    </div>
                    <div class="card-body">
                        <div *ngIf="Userconsults">
                            <app-table-list [Data]="Userconsults"></app-table-list>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
