.field-conteniner {
    .field {
        display: inline-block;
        font-size: 21px;
        margin-right: 10px;
    }

    .Value {
        display: inline-block;
        font-size: 21px;
        color: #999;
    }
}